.index,
.result,
.obj {
  display: none;
}

.page-index .index {
  display: block;
}

.page-result .result {
  display: block;
}

.page-obj .obj {
  display: block;
}

.page-index .back {
  display: none;
}
